@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
.content {
  padding-top: 150px;
}
.navbar-tran {
  border: none;
  border-radius: 0;
  background-color: rgba(0,0,0,0);
  max-height: 50px;
}
.parallax { 
  background-image: url("/img/temple.jpg");
  height: 100vh; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  opacity: 0.4;
}

.navbar-nav > li > a {
  color: #D35400 !important;
  font-family: "Sans-serif", Sans-serif, Sans-serif;
  font-size: 1.5em;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  background-color: #E9D460;
}

.navbar-header > a > img {
  max-height: 50px;
}

.navbar-brand {
  height: auto;
  padding: 0px;
}

#budapp {
  border-radius: 15px 70px 50px;
  background: #F5D76E;
  height: 80vh;
  padding: 2em; 
}

@media only screen and (max-width : 768px) {
  div#bs-example-navbar-collapse-1 {
    background-color: #FDE3A7;
  }
}