@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/bootstrap-social/bootstrap-social.scss";
.content {
  padding-top: 20px;
}
.navbar-tran {
  border: none;
  border-radius: 0;
  background-color: rgba(0,0,0,0);
  max-height: 50px;
}

select.form-control {
  height: 100%;
  min-height:150px;
}

textarea.form-control {
  height: 100%;
  min-height:150px;
}

.parallax { 
  background-image: url("/img/temple.jpg");
  height: 100vh; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
}

.navbar-nav > li > a {
  color: #D35400 !important;
  font-family: "Sans-serif", Sans-serif, Sans-serif;
  font-size: 1.5em;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  background-color: #E9D460;
}

.navbar-header > a > img {
  max-height: 50px;
}

.navbar-brand {
  height: auto;
  padding: 0px;
}

#budapp {
  margin-top: 20px;
  border-radius: 15px 70px 50px;
  background: #F5D76E;
  padding: 2em;
  font-size: 1.2em;
}

@media only screen and (max-width : 768px) {
  div#bs-example-navbar-collapse-1 {
    background-color: #FDE3A7;
  }
}

footer {
  background-color: #FDE3A7;
}

footer .footer {
  margin-top: 35px;
  padding: 15px;
}

.copyright {
  font-size: 1.2em;
  padding-top: 15px;
}

a, .copyright {
  font-family: 'Kanit', sans-serif !important;
}

body {
  font-family: 'Maitree', serif;
}

h2 {
  font-family: 'Taviraj', serif;
  color: #F5AB35;
}

.site-heading {
  font-family: 'Mitr', sans-serif;
  z-index: 100;
  margin-top: -65vh;
  color: black;
  font-weight: 900;
}